/* VK Color */
.color-vk{
  background-color: #45668e;
}

/* Facebook Color */
.color-fb{
  background-color: #3b5998;
}

/* Twitter color */
.color-tw{
  background-color: #4099FF;
}

/* Dribbble color */
.color-dribbble{
  background-color: #ED5565;
}

/* Online color */
.color-online {
  color:#4caf50;
}

/* Offline color */
.color-offline {
  color: #b71c1c;
}
